:root {
	--main: #5489ca;
	--main50: #5489ca50;
	--main30: #5489ca30;
	--mainD: #020022;
	--mainFt: #90c2ff;
	--pink: #ca5497;
	--pink30: #ca549740;

	--pc01: #ff99eb;
	--pc01B: #ff99eb40;
	--pc02: #cd90ff;
	--pc02B: #cd90ff40;
	--pc03: #7ebfff;
	--pc03B: #7ebfff40;
	--pc04: #605bff;
	--pc04B: #605bff40;
	--pc05: #7a39ce;
	--pc05B: #7a39ce40;
	--pc06: #ff9999;
	--pc06B: #ff999940;
	--pc07: #eeeb90;
	--pc07B: #eeeb9040;
	--pc08: #99ffa0;
	--pc08B: #99ffa040;
	--pc09: #90ffe0;
	--pc09B: #90ffe040;
	--pc10: #ca5497;
	--pc10B: #ca549740;
	--pc11: #ff9f64;
	--pc11B: #ff9f6440;
	--pc12: #ffb247;
	--pc12B: #ffb24740;
	--pc13: #82ff7d;
	--pc13B: #82ff7d40;
	--pc14: #ffffff;
	--pc14B: #ffffff40;
	--pc15: #777777;
	--pc15B: #77777740;
}

.heart {
	width: 32px;
}

.heart path:last-child {
	stroke: var(--pink);
	animation: beat 0.4s ease-out 1s backwards;
}

@keyframes beat {
	0% {
		fill: transparent;
	}
	100% {
		fill: var(--pink);
	}
}

.fade {
	position: fixed;
	inset: 0;
	background-color: var(--mainD);
	animation: fade 0.5s ease-out 2s forwards;
	cursor: default;
}

@keyframes fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#root {
	width: clamp(320px, 100vw, 768px);
	text-align: center;
	background-color: var(--mainD);
}
